{
	"cmdPrefix": "!",
	"players": [""],
	"guildName": "Bloco de Rua",
	"username": "AO-Killbot",
	"admins": [""],
	"botChannel": "686663144285667330",
	"playingGame": "Albion Killboard Bot",
	"token": "NzQwOTM3OTkzNTkzOTQ2MTgy.XywSRw.wnzP52mdnRO12XDiWz46J6u6tTo"
}
